@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 94%;
  max-width: 930px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 96%;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 5%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  display: block;
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  position: relative;
}
.fixed-menu__link::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  /* центрирование */
  left: 50%;
  /* центрирование */
  transform: translate(-50%, -50%);
  /* центрирование */
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #313131;
  overflow: hidden;
  z-index: 1000;
  display: none;
}

.active {
  display: block;
}
@media screen and (max-width: 480px) {
  .active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fullscreen-menu__close {
  position: absolute;
  top: 58px;
  right: 39px;
  width: 26px;
  height: 26px;
}
.fullscreen-menu__close::before, .fullscreen-menu__close::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}
.fullscreen-menu__close::before {
  transform: rotate(45deg);
}
.fullscreen-menu__close::after {
  transform: rotate(-45deg);
}

.hero {
  background: url("../img/decor/big-leaf.png") right bottom no-repeat;
  color: #fff;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 36.1111111111rem;
  padding: 24px 0 50px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position-y: 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position-y: 14%;
    background-size: 70%;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero::before {
  content: url("../img/decor/leaf.png");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero::after {
  content: url("../img/decor/berries-and-leafs.png");
  position: absolute;
  right: 0;
  bottom: -2.8888888889rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 930px;
  height: 100%;
  background: url("../img/decor/chocolates.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    flex: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.7777777778rem;
    height: 21rem;
    background: url("../img/decor/hero-bars.png") center center/contain no-repeat;
    padding-bottom: 2.2222222222rem;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    line-height: 1.3;
    margin-bottom: 0.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.3333333333rem;
    line-height: 1;
    padding: 0 14%;
    padding-top: 2%;
    margin-bottom: 0.3333333333rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  line-height: 1.2;
  margin-bottom: 1.8888888889rem;
  padding-right: 14%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 26%;
    line-height: 1.3;
    margin-bottom: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1.1111111111rem;
    padding: 0 18%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.logo {
  width: 2.9444444444rem;
  height: 2.1111111111rem;
  fill: #fff;
}

.menu {
  padding-top: 0.2222222222rem;
  margin: 0 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--vertical {
  padding-top: 20%;
  margin: 0;
}
.menu--vertical .menu__list {
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
  font-size: 2rem;
}
.menu--vertical .menu__item {
  margin-right: 0;
  margin-bottom: 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .menu--vertical .menu__item {
    margin-bottom: 1.7777777778rem;
  }
}
.menu--vertical .menu__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .menu--vertical {
    padding-top: 0;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 0.4444444444rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  font-size: 1.2222222222rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .phone-number {
    display: block;
  }
}
.phone-number--theme-green {
  color: #497870;
}

.phone-number__icon {
  flex-shrink: 0;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  fill: #fff;
  margin-right: 0.3333333333rem;
}
.phone-number__icon--theme-green {
  fill: #497870;
}
@media screen and (max-width: 480px) {
  .phone-number__icon {
    display: inline-block;
    margin-right: 2px;
  }
}

.hamburger {
  width: 26px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.3333333333rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.0555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: 0.3888888889rem;
}

.feature__img {
  width: 2.5rem;
  height: 2.1111111111rem;
  fill: #fff;
}

.feature__text {
  font-size: 0.8888888889rem;
  line-height: 1.2;
  max-width: 4.7222222222rem;
}

.button {
  display: inline-block;
  font-size: 0.8888888889rem;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 1.2222222222rem 2.3333333333rem;
  line-height: 1;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 1.0555555556rem;
    padding: 1.3333333333rem 2.4444444444rem;
  }
}
.button--theme-light {
  background: #fff;
  color: #365A49;
}
.button--theme-light:hover {
  color: #fff;
  background: #365A49;
}
.button--theme-light:focus {
  box-shadow: 0 0 0 2px #365A49;
}
.button--theme-darkgreen {
  color: #fff;
  background: #2E4E3F;
}
.button--theme-darkgreen:hover {
  color: #365A49;
  background: #fff;
}
.button--theme-darkgreen:focus {
  box-shadow: 0 0 0 2px black;
}
.button--theme-lightgreen {
  color: #fff;
  background: #497870;
}
.button--theme-lightgreen:hover {
  background: #2E4E3F;
  color: #fff;
}
.button--theme-transparent {
  font-weight: normal;
  color: #497870;
  text-transform: none;
  background: transparent;
}
.button--theme-transparent:hover {
  color: #000;
}
.button--theme-transparent:focus {
  box-shadow: 0 0 0 0.1111111111rem #365A49;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--bg-grey {
  background-color: #F8FAF9;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  color: #292929;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.3333333333rem;
    margin-bottom: 1rem;
  }
}
.section__title--green {
  color: #365A49;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .section__title--green {
    margin-bottom: 1.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title--green {
    margin-bottom: 1.7777777778rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 768px) {
  .headline__title {
    line-height: 1;
    margin-bottom: 0.5555555556rem;
  }
}

.headline__subtitle {
  line-height: 1.3;
  padding: 0 26%;
  margin-bottom: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    line-height: 1.42;
    padding: 0 22%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    line-height: 1.3;
    padding: 0 4%;
    margin-bottom: 3.1111111111rem;
  }
}

.benefits-section {
  background: url("../img/decor/side-leaf-1.png") left center no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position-y: 12%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  position: absolute;
  content: url("../img/decor/bars.png");
  bottom: -5.8888888889rem;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .benefits-section::before {
    bottom: -3.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.7777777778rem;
    margin-bottom: 0;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  width: 3.5555555556rem;
  height: 3.8333333333rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding-right: 60px;
  }
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    line-height: 1;
  }
}

.benefit__desc {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3333333333rem;
}
.benefit__desc p {
  line-height: 1.3;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    text-align: left;
    margin-bottom: 0;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  position: relative;
  flex: 1;
  padding: 0 3%;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 36px;
  }
}
.benefits__item::before {
  content: url("../img/decor/separator.png");
  position: absolute;
  width: 3.7777777778rem;
  top: 3.3333333333rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.slider-section {
  position: relative;
}
.slider-section::after {
  content: url("../img/decor/blueberry-and-leaf.png");
  position: absolute;
  right: 0;
  bottom: -14%;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .slider-section::after {
    content: url("../img/decor/blueberry-and-leaf-size-s.png");
    bottom: -18%;
  }
}

.slider-container {
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.slide__picture {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .slide__picture {
    width: 54%;
    padding-top: 0;
    margin-bottom: 0.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .slide__picture {
    width: 76%;
    margin-bottom: 0.1111111111rem;
  }
}

.slide__img-wrap {
  padding-top: 2.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slide__img-wrap {
    padding-top: 0;
  }
}

.slide__img {
  max-width: 100%;
}

.slide__info {
  width: 50%;
  padding: 3.6666666667rem 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .slide__info {
    width: 70%;
    text-align: center;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .slide__info {
    width: 76%;
  }
}

.slide__dropdown {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #86C3D7;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin-bottom: 1.3333333333rem;
  transition: background 0.3s;
  position: relative;
}
.slide__dropdown:hover {
  background: #60AACC;
}
.slide__dropdown:hover .slide__dropdown-menu {
  left: 100%;
  opacity: 0.95;
}
@media screen and (max-width: 900px) {
  .slide__dropdown:hover .slide__dropdown-menu {
    top: 100%;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .slide__dropdown {
    display: none;
  }
}

.slide__dropdown-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide__dropdown-link:focus ~ .slide__dropdown-menu {
  left: 100%;
  opacity: 0.95;
}

.slide__dropdown-icon {
  width: 2.5555555556rem;
  height: 2.5555555556rem;
  margin-bottom: 0.3333333333rem;
}

.slide__dropdown-title {
  font-size: 0.7777777778rem;
  text-transform: uppercase;
  font-weight: 700;
}

.slide__dropdown-menu {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 15.1666666667rem;
  color: #000;
  background: #fff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 1.6666666667rem 1.5555555556rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide__dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8888888889rem;
  margin-bottom: 1.5555555556rem;
}
.slide__dropdown-item:last-child {
  margin-bottom: 0;
}

.slide__dropdown-item-col {
  display: flex;
  align-items: center;
}

.slide__dropdown-item-icon {
  max-width: 1.3333333333rem;
  max-height: 1.3333333333rem;
  margin-right: 0.8888888889rem;
}

.slide__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  color: #292929;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slide__title {
    font-size: 1.6666666667rem;
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .slide__title {
    margin-bottom: 0.6666666667rem;
  }
}

.slide__text {
  line-height: 1.3;
  margin-bottom: 1.4444444444rem;
}
@media screen and (max-width: 480px) {
  .slide__text {
    line-height: 1.4;
    margin-bottom: 1.3333333333rem;
  }
}

.slide__features {
  display: flex;
  text-align: left;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slide__features {
    justify-content: center;
  }
}

.slide__features-row {
  line-height: 1.2;
  margin-right: 2.4444444444rem;
}
.slide__features-row:last-child {
  margin-right: 0;
}

.slide__features-text {
  font-weight: 700;
  color: #000;
}

.slide__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .slide__footer {
    justify-content: center;
  }
}
@media screen and (max-width: 411px) {
  .slide__footer {
    flex-direction: column;
  }
}

.slide__price {
  font-size: 3.3333333333rem;
  font-weight: 300;
  line-height: 1;
  color: #151515;
  margin-right: 1.5555555556rem;
}
@media screen and (max-width: 925px) {
  .slide__price {
    margin-bottom: 1.3333333333rem;
  }
}
@media screen and (max-width: 768px) {
  .slide__price {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 411px) {
  .slide__price {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
}
.slider__btn--left {
  left: -2%;
}
.slider__btn--right {
  right: -2%;
}
@media screen and (max-width: 768px) {
  .slider__btn {
    top: 25%;
  }
  .slider__btn--left {
    left: 17%;
  }
  .slider__btn--right {
    right: 17%;
  }
}
@media screen and (max-width: 480px) {
  .slider__btn--left {
    left: 0;
  }
  .slider__btn--right {
    right: 0;
  }
}

.slider__arrow {
  width: 0.7777777778rem;
  height: 1.5555555556rem;
  fill: none;
}

.slider__list-wrap {
  max-width: 930px;
  overflow: hidden;
}

.reviews-section {
  background: url("../img/decor/berries-and-leaf.png") left bottom no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews-section {
    background-size: 7.2222222222rem;
    background-position: -1.3333333333rem 110%;
  }
}
.reviews-section::before {
  position: absolute;
  content: url("../img/decor/straw.png");
  right: 1%;
  top: 3.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews-section::before {
    right: -3%;
    top: 4%;
  }
}

.reviews__display {
  background: #F8FAF9 url("../img/decor/review-bg.jpg") top 1.3333333333rem right no-repeat;
  padding: 2.3333333333rem;
  margin-bottom: 0.8888888889rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.2222222222rem 1.3888888889rem 1.5555555556rem;
    background-position: top 1rem right;
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 3.2222222222rem 0 0 0;
    margin-bottom: 2.7777777778rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  position: absolute;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: #fff;
  border-radius: 50%;
  top: -3.1111111111rem;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 480px) {
  .reviews__display::before {
    display: none;
  }
}

.reviews__display-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    justify-content: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.6666666667rem;
    height: 7.6666666667rem;
    margin-bottom: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 1rem;
  }
}

.reviews__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content {
  width: 52%;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    padding: 0 24%;
  }
}

.reviews__text {
  line-height: 1.3;
  margin-bottom: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    padding: 0 1.1111111111rem;
    margin-bottom: 0.5555555556rem;
  }
}
.reviews__text p {
  margin-bottom: 0.3333333333rem;
}
.reviews__text p:last-child {
  margin-bottom: 0;
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .reviews__author {
    padding-top: 0.5555555556rem;
    background: #fff;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .interactive-avatar {
    width: 4.3333333333rem;
    height: 4.3333333333rem;
  }
}
.interactive-avatar--active, .interactive-avatar:hover {
  border-color: #365A49;
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.order-section {
  background: url("../img/bg/berries-bg.jpg") center center/cover no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .order-section:before, .order-section::after {
    display: none;
  }
}
.order-section::before {
  position: absolute;
  content: url("../img/decor/blueberry.png");
  left: 4%;
  bottom: 3.8888888889rem;
}
.order-section::after {
  position: absolute;
  content: url("../img/decor/leaf-2.png");
  right: 1%;
  bottom: 3.3333333333rem;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 1rem;
  }
}
.form__row--textarea {
  margin-bottom: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__row--textarea {
    margin-bottom: 1rem;
  }
}
.form__row--controls {
  margin-bottom: 2.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__row--controls {
    margin-bottom: 2.1111111111rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #497870;
}

.form__input {
  width: 100%;
  font-size: 0.7777777778rem;
  height: 3.2222222222rem;
  color: #000;
  border: 0.1666666667rem solid transparent;
  background: #FFFFFF;
  border-radius: 0.2222222222rem;
  padding: 0.9444444444rem 0.6666666667rem;
}
.form__input--error {
  border: 1px solid red;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 2rem;
    padding: 0.5555555556rem;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.1111111111rem;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__error {
  color: red;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    text-align: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.3333333333rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 1.4444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-right: 36px;
    margin-bottom: 1.7777777778rem;
  }
}
.radio:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/tick.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
  position: relative;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  border-radius: 50%;
  background: #365A49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  color: #497870;
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.7777777778rem;
  }
}

@media screen and (max-width: 480px) {
  .contacts__place {
    margin-bottom: 0.5555555556rem;
  }
}

.map {
  position: relative;
}

.map__img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 0.7777777778rem 0 0.7222222222rem 0;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 1.4444444444rem 0 2.1111111111rem 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.socials {
  display: flex;
  align-items: center;
  padding-top: 0.8888888889rem;
}
@media screen and (max-width: 480px) {
  .socials {
    padding-top: 0;
  }
}

.socials__item {
  width: 1.2222222222rem;
  margin-right: 0.6666666667rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__img {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #B3B3B3;
}
.socials__img:hover {
  fill: #292929;
}
/*# sourceMappingURL=main.css.map */