.menu {
  padding-top: rem(4px);
  margin: 0 rem(20px);

  @include tablets {
    display: none;
  }

  &--vertical {
    padding-top: 20%;
    margin: 0;

    & .menu__list {
      flex-direction: column;
      flex-wrap: nowrap;
      color: #fff;
      font-size: rem(36px);
    }

    & .menu__item {
      margin-right: 0;
      margin-bottom: rem(26px);

      @include phones {
        margin-bottom: rem(32px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include tablets {
      display: block;
    }

    @include phones {
      padding-top: 0;
    }
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(8px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}