.section {
  height: 100%;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1.5s;

  &--bg-grey {
    background-color: $lightGrey;
  }

  &--align-top {
    justify-content: flex-start;
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(16px);

  @include tablets {
    margin-bottom: rem(36px);
  }

  @include phones {
    font-size: rem(46px);
    margin-bottom: rem(24px);
  }

  &--green {
    color: $darkGreen;
    margin-bottom: rem(54px);

    @include tablets {
      margin-bottom: rem(24px);
    }

    @include phones {
      margin-bottom: rem(32px);
    }

    @media screen and (max-width: 480px) and (max-height: 640px) {
      margin-bottom: rem(16px);
    }
  }

  &--left-and-white {
    text-align: left;
    color: #fff;
    margin-bottom: 0;
  }

  .team-section & {
    margin-bottom: rem(48px);

    @include tablets {
      margin-bottom: rem(30px);
    }
  }
}