.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(14px);

  @include tablets {
    line-height: 1;
    margin-bottom: rem(10px); 
  }
}

.headline__subtitle {
  line-height: $textLineHeight;
  padding: 0 26%;
  margin-bottom: rem(48px);

  @include tablets {
    line-height: 1.42;
    padding: 0 22%;
  }

  @include phones {
    line-height: $textLineHeight;
    padding: 0 4%;
    margin-bottom: rem(56px);
  }
}