.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;

  &--active {
    border-color: $darkGreen;
  }
}

.interactive-avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


