.slider-section {
  position: relative;

  &::after {
    content: url("../img/decor/blueberry-and-leaf.png");
    position: absolute;
    right: 0;
    bottom: -14%;
    pointer-events: none;

    @include tablets {
      content: url("../img/decor/blueberry-and-leaf-size-s.png");
      bottom: -8%;
    }
  }
}

.slider-container {
  position: relative;
}