.socials {
  display: flex;
  align-items: center;
  padding-top: rem(16px);

  @include phones {
    padding-top: 0;
  }
}

.socials__item {
  width: rem(22px);
  margin-right: rem(12px);

  &:last-child {
    margin-right: 0;
  }
}

.socials__img {
  width: rem(20px);
  height: rem(20px);
  fill: #B3B3B3;

  &:hover {
    fill: $black;
  }
}