$containerWidth: 930px;
$baseFontSize: 18px;
$textLineHeight: 1.3;

// breakpoints
$tablets: 768px;
$phones: 480px;

// colors
$blue: #61C4D9;
$green: #497870;
$darkGreen: #2E4E3F;
$black: #292929; // заголовки
$grey: #313131;
$middleGrey: #626262;
$lightGrey: #F8FAF9;

// z-indexes
$z-fixed-menu: 100;
$z-fullscreen-menu: 1000;
$z-dropdown: 20;
$z-decor: 10;

// media
@import "media";

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "layout";

// components 
@import "./components/*.scss";